!!!
%html
  %head
    %title Whatatime
    
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    #app
      = content_tag :p, notice.html_safe, :class => "notice" if notice
      = content_tag :p, alert.html_safe, :class => "alert" if alert
      %header
        = render partial: "shared/user_navigation"
        %h1= link_to "Whatatime", root_url
        %p= CatchPhrase.random.html_safe
      = render partial: "shared/page_navigation"
      = yield
