<!DOCTYPE html>
<html>
<head>
  <title>Whatatime</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= content_tag :p, notice, :class => "notice" if notice %>
  <%= content_tag :p, alert, :class => "alert" if alert %>

  <header>
    <h1><%= link_to "Whatatime", root_url %></h1>
    <p>where your time can just <em>be</em> time</p>
  </header>
  <div id="content">
  <%= yield %>
  </div>

</body>
</html>

